<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body onload="image()">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MariJoe Restaurant & Catering</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="http://pedidos.marijoerestaurant.com">Ordene Aquí!</a></li>
    </ul>
  </div>
</nav>
<img src="https://menu-marijoe.herokuapp.com/image" id="image">
<script>
function image() {
  const w = window.screen.availWidth;
   const h = window.screen.availHeight;
   document.getElementById("image").style.width = 1300;
}
</script>
</body>
