<body onload="image()">


    <img src="https://menu-marijoe.herokuapp.com/image" id="image">
    
    <script>
    function image() {
        const w = window.screen.availWidth;
        const h = window.screen.availHeight;
    
        document.getElementById("image").style.width = 1300;
        //document.getElementById("image").style.height = 1700;
    }
    </script>
    </body>
    